html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400px;
}
.container {
  max-width: 1100px;
  background-color: #ddd;
  margin: 0 auto;
}
/* переменные по цветам */
:root {
  --accent-color: #f7654a;
  --dark-color: #404149;
  --gray-color: #999999;
  --white-color: #ffffff;
  --background-color: #e5e5e5;
}
/* стили для текста */
.text-h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 500px;
  font-size: 36px;
  text-transform: uppercase;
}
.text-h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 500px;
  font-size: 24px;
}
.text-h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 500px;
  font-size: 21px;
}
.text-p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.text-p-previews {
  font-family: "Open Sans", sans-serif;
  font-size: 14;
  line-height: 21px;
}

.header {
}
.header__title {
}
.logo {
}
.burger {
}
.birger__line {
}
.h1 {
}
.h4 {
}
